body {
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: white;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 40px 15px rgba(0,0,0,0,1);
}

h1 { text-align: center; color: #333 }

.input-area { display: flex; gap: 5px; }

input {
  flex: 1;
  padding:10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #28a745;
  color: white;
  border:none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style: dic;
  padding-left: 20px;
  margin-top: 20px;
  text-align: left;
}
/*ul { list-style: none; padding: 0; margin-top: 20px; }*/

li {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 10px;
  display: list-item;
  margin-bottom: 5px;
}

li span {
  display: inline-block;
  width: 70%;
}

.dilete-btn {
  background: #ff4d4d;
  font-size: 12px;
  padding: 5px 8px;
}
